.companies__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.company-card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.company-card:hover {
  background: var(--color-primary);
  color: white;
}

